<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>B2B Accounts</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Dieter Hubau</span>
                            <img class="img-profile rounded-circle"
                                 src="https://avatars0.githubusercontent.com/u/1653600?s=40&v=4">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="https://twitter.com/dhubau" target="_blank">
                                <i class="fab fa-twitter fa-sm fa-fw mr-2 text-gray-400"></i>
                                Twitter
                            </a>
                            <a class="dropdown-item" href="https://github.com/Turbots/b2b" target="_blank">
                                <i class="fab fa-github fa-sm fa-fw mr-2 text-gray-400"></i>
                                Github
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-info">Generic Title *YAWN*</h1>
                <p class="mb-4">Depressing Subtitle...</p>

                <!-- Page Heading -->
                <!--
                <h1 class="h3 mb-2 text-info">Spring <i class="fas fa-heart text-danger"></i> Kubernetes</h1>
                <p class="mb-4">Spring Boot and Kubernetes are like peanut butter and jelly!</p>
                -->

                <!-- Content Row -->
                <div class="row">

                    <!-- Operating System -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Operating
                                            System
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${osName}">
                                            Unknown
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fab fa-linux fa-2x text-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Java Runtime -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Java
                                            Runtime
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${runtimeName}">
                                            Unknown
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fab fa-java fa-2x text-danger"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Java Version -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Java
                                            Version
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${runtimeVersion}">
                                            Unknown
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fab fa-java fa-2x text-danger"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- OpenSSL Version -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">OpenSSL
                                            Version
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${sslVersion}">
                                            Unknown
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-lock fa-2x text-warning"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">B2B Accounts</h1>
                <p class="mb-4">Listing all the accounts and their balances.</p>

                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-4">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Accounts</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Account Number</th>
                                            <th>Balance</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>Account Number</th>
                                            <th>Balance</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <th:block th:each="account : ${accounts}">
                                            <tr>
                                                <td th:text="${account.number}">1234</td>
                                                <td th:text="'€' + ${account.balance}">€1.00</td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-4">

                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Additional Information</h6>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;"
                                         src="img/buildpacks.svg" alt="Cloudnative Buildpacks">
                                </div>
                                <p>This is a demo application that showcases the building and running of Spring Boot
                                    applications in <a target="_blank" rel="nofollow"
                                                       href="https://pivotal.io/platform/pivotal-application-service">Pivotal
                                        Application Service</a>
                                    or <a target="_blank" rel="nofollow"
                                          href="https://pivotal.io/platform/pivotal-container-service">Enterprise
                                        PKS</a>
                                    through the use of <a target="_blank" href="https://buildpacks.io" rel="nofollow">Cloudnative
                                        Buildpacks</a>!</p>
                                <a target="_blank" rel="nofollow" href="https://github.com/Turbots/b2b.git">Check out
                                    the code on Github &rarr;</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Pivotal now part of VMware 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

</body>
</html>